@charset "UTF-8";
.block {
    width: 50%;
   margin: 0 auto;
   padding: 10px 40px;
   margin-bottom: 10px;

}

.body_rel {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /* padding: 5px 25px; */
  font-size: 18px;
  /* margin: 0; */
  margin: 0 auto !important;
  color: #444;
  max-width: 1200px;
}
.result_wrap {
  width: 60%;
  margin: 0 auto;
}

#tbl-bdr{
    border-collapse: collapse;
    border:1px solid #c3c3c3;
    padding: 4px 12px;
}
