@charset "UTF-8";

/*クラス単位指定*/

    .top_table{/*画面最上部のテーブル設定*/
         border:0 ;width:100%;
         background: linear-gradient(-135deg, #E4A972, #9941D8);
       }
    .top_name {/*見出し文字のレイアウト*/
         text-align:left; font-size:32pt;
         color:black;
       }
    .go_top_buttton{/*トップ画面に戻るボタンのレイアウト*/
         text-align:right;
       }
    .entry_button{
        text-align: center;
       }
     .search_result{/*index.phpの検索結果のセル大きさ指定*/
        width: 200px;
        height: 50px;
        border-collapse: collapse;
        border:4px solid #c3c3c3;
       }


/*ID単位指定*/
    #index_result_div{/*index.phpの検索結果一覧の内部大きさ指定*/
        width: 50%;
        margin: 0 auto;
        padding: 10px 40px;
        margin-bottom: 10px;

       }
    #index_entry_button{/*index.phpの検索/リセットボタン配置*/
        text-align: right;
       }
    #index_result{/*index.phpの検索結果一覧のレイアウト*/
        border-collapse: collapse;
        border:4px solid #c3c3c3; padding: 4px 12px;
       }
